[Unit]
Description=WebSocket Chat Service
After=network.target

[Service]
Type=simple
User=www-data
# Set the working directory to where your script and its dependencies are
WorkingDirectory=/home/bitnami/websocket-python/
# Command to execute the script
ExecStart=/usr/bin/python3 /home/bitnami/websockets-python/chatserver.py
Restart=on-failure

[Install]
WantedBy=multi-user.target